.line{
    width: 42px;
}
.dline{
    width: 28px;
}
/* #btnburger:hover #center{
    width: 42px;
} */
.burger{
    scale: 0.8;
}
.scaleBurger{
    transition: all 1.3s;
    scale: 0.9;
} 
.scaleBurgerNone{
    transition: all 1s;
    scale: 0.8;
}
.animBurger{
    transition: all 1s;
    width: 42px;
}
.animBurgerNone{
    transition: all 1s;
    width: 28px;
}
.d-n{
    transition: all 2s;
    display: none;
    opacity: 0;
}
.d-Anim {
    animation: dne 3s forwards;
  }
  @keyframes dne {
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        height: 100px;
        opacity: 1;
    }
  }
.d-Animreverse {
    animation: dne1 3s alternate-reverse;
  }
  @keyframes dne1 {
    0%{
        height: 0;
        opacity: 0;
    }
    100%{
        height: 100px;
        opacity: 1;
    }
  }
.show1{
    transition: all 2s linear;
    opacity: 0;
}

